html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #000009;
}

div {
    float: left;
}

h3 {
    color: #fff;
    text-align: center;
    border-bottom: 1px solid #fff;
    margin: 0 auto;
    padding: 20px 0;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    cursor: pointer;
    text-align: center;
    border-bottom: 1px solid #fff;
    margin-top: -16px;
}

li:hover {
    background-color: #ff8800;
}

li a {
    color: #fff;
    text-decoration: none;
}

li p {
    cursor: pointer;
    color: #fff;
    padding-top: 16px;
}

li p:hover {
    color: #000;
}

input[type="button"] {
    position: relative;
    width: 30px;
    height: 30px;
    background-color: #00000000;
    border: none;
    vertical-align: middle;
    margin-right: 5px;
    z-index: 1000;
    cursor: pointer;
}

.video-js .vjs-big-play-button {
    left: 45%;
    top: 45%;
}

#left {
    width: 20%;
    outline: 1px solid #fff;
    outline-offset: -1px;
    background-color: #e62117;
    opacity: 0.8;
    display: block;
    z-index: 998;
    position: absolute;
}

.toggle {
    position: absolute;
    opacity: 0.5;
    top: 10px;
    z-index: 999;
    width: 120px;
    height: 55px;
    background-image: url("../images/menubtn.png");
    cursor: pointer;
}

.toggle:hover {
    opacity: 1;
}

#menu {
    overflow-x: hidden;
}

#search {
    width: 100%;
    margin-top: 21px;
    margin-bottom: 5px;
    border: none;
    outline: none;
    padding-inline-start: 10px;
}

#channelcontent {
    overflow-x: hidden;
}

#right {
    width: 80%;
    height: 100%;
}

#menuicon {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 20px;
    top: 10px;
    background: none;
    z-index: 999;
    background-image: url("../images/menuicon.png");
    opacity: 0.5;
    cursor: pointer;
}

#player {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 20px;
    top: 60px;
    background: #fff;
    z-index: 999;
    border-radius: 25px;
    background-image: url("../images/link.jpg");
    opacity: 0.5;
    cursor: pointer;
    color: #000;
    display: none;
}

#prev {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 20px;
    top: 120px;
    background: #fff;
    z-index: 999;
    border-radius: 25px;
    background-image: url("../images/previous.jpg");
    opacity: 0.5;
    cursor: pointer;
    color: #000;
    display: none;
}

#github {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 20px;
    top: 180px;
    background: #fff;
    z-index: 999;
    border-radius: 25px;
    background-image: url("../images/github.jpg");
    opacity: 0.5;
    cursor: pointer;
    color: #000;
    display: none;
}

#favorite {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 20px;
    top: 240px;
    background: #fff;
    z-index: 999;
    border-radius: 25px;
    background-image: url("../images/documents.jpg");
    opacity: 0.5;
    cursor: pointer;
    color: #000;
    display: none;
}

#channelist {
    position: absolute;
    width: 200px;
    height: 300px;
    right: 100px;
    top: 240px;
    background: #e62117;
    z-index: 1000;
    opacity: 0.5;
    color: #fff;
    display: none;
    overflow-y: auto;
    text-align: center;
    outline: 1px solid #fff;
    outline-offset: -1px;
}

#shuffleplay {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 20px;
    top: 300px;
    background: #fff;
    z-index: 999;
    border-radius: 25px;
    background-image: url("../images/shuffleplay.png");
    opacity: 0.5;
    cursor: pointer;
    color: #000;
    display: none;
}

#inputlink {
    position: absolute;
    right: 85px;
    top: 65px;
    height: 40px;
    width: 320px;
    background-color: #fff;
    z-index: 998;
    border: 0;
    opacity: 0.6;
    letter-spacing: 1px;
    text-indent: 4px;
    display: none;
}

#div1 {
    width: 100vw;
    height: 100%;
    border-bottom: 1px solid #fff;
}

#div1 img {
    position: absolute;
    right: 150px;
    top: 100px;
}

@media screen and (max-width: 1024px) {
    #div1 img {
        position: absolute;
        right: 15px;
        top: 175px;
    }
}

@media screen and (max-width: 640px) {
    h3 {
        font-size: 14px;
    }
    li p {
        font-size: 12px;
    }
    input[type="button"] {
        width: 20px;
        height: 20px;
    }
    #menuicon {
        width: 25px;
        height: 25px;
        top: 20px;
        background-size: 100%;
    }
    #player {
        width: 25px;
        height: 25px;
        top: 50px;
        background-size: 100%;
    }
    #prev {
        width: 25px;
        height: 25px;
        top: 80px;
        background-size: 100%;
    }
    #github {
        width: 25px;
        height: 25px;
        top: 110px;
        background-size: 100%;
    }
    #favorite {
        width: 25px;
        height: 25px;
        top: 140px;
        background-size: 100%;
    }
    #shuffleplay {
        width: 25px;
        height: 25px;
        top: 170px;
        background-size: 100%;
    }
    #channelist {
        top: 110px;
        right: 60px;
        top: 140px;
    }
    #inputlink {
        width: 160px;
        height: 30px;
        top: 50px;
        right: 60px;
    }
    #div1 img {
        position: absolute;
        width: 70%;
        height: 55%;
        right: 15px;
        top: 100px;
    }
}