html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #000009;
}

div {
    float: left;
}

h3 {
    color: #fff;
    text-align: center;
    border-bottom: 1px solid #fff;
    margin: 0 auto;
    padding: 20px 0;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    cursor: pointer;
    text-align: center;
    border-bottom: 1px solid #fff;
    margin-top: -16px;
}

li:hover {
    background-color: #ff8800;
}

li a {
    color: #fff;
    text-decoration: none;
}

li p {
    cursor: pointer;
    color: #fff;
    padding-top: 16px;
}

li p:hover {
    color: #000;
}

.video-js .vjs-big-play-button {
    left: 45%;
    top: 45%;
}

#left {
    width: 20%;
    outline: 1px solid #fff;
    outline-offset: -1px;
    background-color: #e62117;
    opacity: 0.8;
}

#right {
    width: 80%;
    height: 100%;
}

#player {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 20px;
    top: 20px;
    background: #fff;
    z-index: 999;
    border-radius: 25px;
    background-image: url("../images/link.jpg");
    opacity: 0.5;
    cursor: pointer;
    color: #000;
}

#prev {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 20px;
    top: 80px;
    background: #fff;
    z-index: 999;
    border-radius: 25px;
    background-image: url("../images/previous.jpg");
    opacity: 0.5;
    cursor: pointer;
    color: #000;
}

#github {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 20px;
    top: 140px;
    background: #fff;
    z-index: 999;
    border-radius: 25px;
    background-image: url("../images/github.jpg");
    opacity: 0.5;
    cursor: pointer;
    color: #000;
}

input[type="text"] {
    position: absolute;
    right: 85px;
    top: 25px;
    height: 40px;
    width: 320px;
    background-color: #fff;
    z-index: 998;
    border: 0;
    opacity: 0.6;
    letter-spacing: 1px;
    text-indent: 4px;
    display: none;
}

#div1 {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #fff;
}

#div1 img {
    position: absolute;
    right: 150px;
    top: 100px;
}

@media screen and (max-width: 1024px) {
    #div1 img {
        position: absolute;
        right: 15px;
        top: 175px;
    }
}

@media screen and (max-width: 640px) {
    h3 {
        font-size: 14px;
    }
    li p {
        font-size: 12px;
    }
    #player {
        width: 25px;
        height: 25px;
        background-size: 100%;
    }
    #prev {
        width: 25px;
        height: 25px;
        top: 50px;
        background-size: 100%;
    }
    #github {
        width: 25px;
        height: 25px;
        top: 80px;
        background-size: 100%;
    }
    input[type="text"] {
        width: 160px;
        height: 30px;
    }
    #div1 img {
        position: absolute;
        width: 70%;
        height: 55%;
        right: 15px;
        top: 100px;
    }
}