@import url(https://fonts.googleapis.com/css?family=Yesteryear);
@-webkit-keyframes winAnim {
    0% {
        background-color: cyan;
    }
    100% {
        background-color: #508ABB;
    }
}

@-moz-keyframes winAnim {
    0% {
        background-color: cyan;
    }
    100% {
        background-color: #508ABB;
    }
}

@-o-keyframes winAnim {
    0% {
        background-color: cyan;
    }
    100% {
        background-color: #508ABB;
    }
}

@keyframes winAnim {
    0% {
        background-color: cyan;
    }
    100% {
        background-color: #508ABB;
    }
}

@keyframes winAnim {
    0% {
        background-color: cyan;
    }
    100% {
        background-color: #508ABB;
    }
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline-style: none;
    /*IE*/
}

.center-box,
.app,
.play-box .symbol {
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

html,
body {
    background-color: #d2dbdc;
    height: 100%;
    width: 100%;
}

.app {
    width: 80%;
    height: 70%;
    max-width: 550px;
    background-color: #508ABB;
    box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.85);
    border-radius: 10px;
}

.app .app-container,
.app .app-row {
    height: 100%;
}

.play-box,
.symbol-option {
    font-family: 'Yesteryear', cursive;
}

.play-box {
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    height: 33.3333333333%;
    cursor: pointer;
    position: relative;
}

.play-box.last-right {
    border-right: none;
}

.play-box.last-bottom {
    border-bottom: none;
}

.play-box.win {
    -webkit-animation: winAnim 0.2s ease-out infinite;
    -moz-animation: winAnim 0.2s ease-out infinite;
    -o-animation: winAnim 0.2s ease-out infinite;
    animation: winAnim 0.2s ease-out infinite;
    animation: winAnim 0.5s infinite;
}

.play-box .symbol {
    width: 50%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 35px;
    color: white;
}

.modal-content .content {
    padding: 15px;
    text-align: center;
    margin: 0;
}

.modal-content .content.body {
    line-height: 2;
}

.modal-content .symbol-options {
    width: 200px;
    margin-top: 10px;
}

.modal-content .symbol-options .symbol-option:first-child {
    margin-right: 10px;
}

.modal-content .symbol-options .symbol-option:last-child {
    margin-left: 10px;
}

.modal-content .warning-hr {
    margin: 0;
}